<% layout("/layouts/boilerplate") %>
<head>
  <title>Contact Us</title>
</head>
<body>
  <div class="container">
    <h1 class="text-center mt-5 mb-3">CONTACT US</h1>
    <form action="/contact" method="POST" class="flex" needs-validation>
      <div class="row mt-3">
        <div class="mb-3 col-4 offset-2">
          <label for="name" class="form-label"><b>Name</b></label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            required
          />
        </div>
        <div class="mb-3 col-4">
          <label for="email" class="form-label"><b>Email</b></label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
          />
        </div>
        <div class="mb-3 col-8 mx-auto mt-2">
          <label for="message" class="form-label"><b>Message</b></label>
          <textarea
            class="form-control"
            id="message"
            name="message"
            rows="5"
            required
          ></textarea>
        </div>
        <div class="row mx-auto col-8 mt-3">
          <button type="submit" class="btn btn-outline-primary mb-3">
            SUBMIT
          </button>
        </div>
      </div>
    </form>
  </div>

</body>
