<!-- flash.ejs -->
<!-- <link rel="stylesheet" href="../../public/css/flash.css" />

<% if (success && success.length) { %>
<div
  id="successMessage"
  class="alert alert-success alert-dismissible fade show col-6 offset-3 mt-1"
  role="success"
  style="
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    color: green;
  "
>
<span style="font-size: 25px;">✅</span>
  <%= success %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %> <% if (error && error.length) { %>
<div
  id="errorMessage"
  class="alert alert-danger alert-dismissible fade show col-6 offset-3 mt-1"
  role="alert"
  style="
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    color: red;
  "
>
  <span style="font-size: 25px;"></span><%= error %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>
<script>
  setTimeout(function () {
    var successMessage = document.getElementById("successMessage");
    if (successMessage) {
      successMessage.remove();
    }

    var errorMessage = document.getElementById("errorMessage");
    if (errorMessage) {
      errorMessage.remove();
    }
  }, 2000);
</script> -->





<link rel="stylesheet" href="../../public/css/flash.css" />

<% if (success && success.length) { %>
<div id="successMessage" class="alert alert-success flash-message" role="alert">
  <span class="flash-icon">&#10003;</span>
  <%= success %>
</div>
<% } %>

<% if (error && error.length) { %>
<div id="errorMessage" class="alert alert-danger flash-message" role="alert">
  <%= error %>
</div>
<% } %>

<script>
  setTimeout(function () {
    var successMessage = document.getElementById("successMessage");
    if (successMessage) {
      successMessage.remove();
    }

    var errorMessage = document.getElementById("errorMessage");
    if (errorMessage) {
      errorMessage.remove();
    }
  }, 4000);
</script>

