<!-- flash.ejs -->

<link rel="stylesheet" href="../../public/css/flash.css" />

<% if (success && success.length) { %>
<div id="successMessage" class="alert alert-success flash-message" role="alert">
  <span class="flash-icon">&#10003;</span>
  <%= success %>
</div>
<% } %> <% if (error && error.length) { %>
<div id="errorMessage" class="alert alert-danger flash-message" role="alert">
  <span class="flash-icon">&#10060;</span>
  <%= error %>
</div>
<% } %>

<script>
  setTimeout(function () {
    var successMessage = document.getElementById("successMessage");
    if (successMessage) {
      successMessage.remove();
    }

    var errorMessage = document.getElementById("errorMessage");
    if (errorMessage) {
      errorMessage.remove();
    }
  }, 4000);
</script>
