<head>
  <link rel="stylesheet" href="../../public/css/navbar.css" />
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
  <ul class="navbar-nav">
    <div class="logo">
      <a class="navbar-brand" href=""><i class="fa-solid fa-b"></i>logify</a>
    </div>
    <div class="link">
      <li class="nav-item">
        <a class="nav-link" href="/blogs">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <% if(currUser) { %>
      <li class="nav-item">
        <a class="nav-link" href="/blogs/myBlogs/<%= currUser._id %>"
          >My Blogs <span class="badge">2</span></a
        >
      </li>
      <% } %> <% if(!currUser) { %>
      <li class="nav-item flex">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <% } else { %>
      <li class="nav-item">
        <a class="nav-link" href="/blogs/new">New Blog</a>
      </li>
      <li class="nav-item user">
        <a class="nav-link fa-solid fa-user" href=""></a>
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <% } %>
    </div>
  </ul>
</nav>
