<!-- includes/navbar.ejs -->

<head>
  <link rel="stylesheet" href="../../public/css/navbar.css" />
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="fa-solid fa-b" style="color: rgb(255, 137, 2)"></i>logify
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/blogs">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <% if(currUser) { %>
        <li class="nav-item">
          <a class="nav-link" href="/blogs/myBlogs/<%= currUser._id %>"
            >My Blogs <span class="badge">4</span></a
          >
        </li>
        <% } %>
      </ul>
      <div class="search">
        <form class="d-flex serachInput" method="get" action="/blogs">
          <input
            class="form-control msearch-btn-inp"
            type="text"
            name="subject"
            placeholder="Search blogs"
          />
          <button class="btn btn-primary search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i> Search
          </button>
        </form>
      </div>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if(!currUser) { %>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <% } %> <% if(currUser) { %>
        <li class="nav-item">
          <a class="nav-link" href="/blogs/new">New Blog </a>
        </li>
        <li class="nav-item">
          <a class="nav-link activeUser" href="/user/profile">
            <img
              src="../../public/images/user.png"
              alt="user"
              style="height: 30px; width: 30px"
            />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
