/* blogs.css  OR index.css */

/* Common styles */
.blogPost {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.blog-container {
  width: 85%;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.singleBlog {
  text-decoration: none;
}

.blog-container:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.blog-header {
  padding: 10px 20px;
}

.blog-title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  color: orange;
}

.blog-meta {
  font-style: italic;
  color: #666;
  margin-bottom: 5px;
}

.blog-content {
  padding: 10px 20px;
}

.blog-icons {
  width: 130px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin: 0 0 5px 0;
}

.blogProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 10px 0 10px;
  height: 40px;
}

.blogProfile img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.blogSubject button{
  width: 12vw;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 576px) {
  .authorName {
    font-size: 15px !important;
  }

  .blogSubject button {
    width: 18vw;
    font-size: 2vw;
    text-align: center;
  }
  .blog-title {
    font-size: 15px;
    font-weight: 600;
  }
}

@media (min-width >= 576px) and (max-width <=992px) {
  .blogSubject button {
    width: 10vw;
    font-size: 2vw;
    text-align: center;
  }
  .blogSubject button {
    font-size: 10px;
  }
  .authorName {
    font-size: 15px !important;
  }
}
