/* flash.css */

/* .errorMessage .successMessage {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid black;
}

.alert {
  position: relative;
}

.alert::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  animation: expandBorder 2s forwards;
}

@keyframes expandBorder {
  0% {
    width: 0;
    transform: translateX(0);
  }
  100% {
    width: 100%;
    transform: translateX(0);
  }
}

.alert .btn-close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

@media (max-width: 576px) {
  .alert {
    width: 90%;
    margin: 0 auto;
  }
} */






.flash-message {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  animation: slideIn 0.5s, fadeOut 1s 3s forwards;
}

.flash-icon {
  margin-right: 10px;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

@keyframes slideIn {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 60px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

