/* flash.css */

.flash-message {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  animation: slideIn 0.5s, fadeOut 1s 3s forwards;
}

.flash-icon {
  margin-right: 10px;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #006300;
}

.alert-danger {
  background-color: cornsilk;
  border-color: #000000;
  color: #ff0000;
}

@keyframes slideIn {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 60px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
