/* login.css */

nav {
  z-index: 1000;
}

body {
  background: transparent;
  backdrop-filter: blur(20px);
  background-repeat: no-repeat;
  background: linear-gradient(
    33deg,
    #773a8a,
    #4e4848,
    #280531,
    #463434,
    #7e3a92
  );
  color: white;
  background-color: linear-gradient(pink, green);
}

.AsignupBtn {
  color: white;
  text-decoration: none;
}
button:hover {
  opacity: 0.8;
}

label {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.fa-b {
  color: orange;
}

a {
  color: white;
  text-decoration: none;
  text-align: center;
  margin-top: 25px;
}
