/* navbar.css */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
}
.nav-link {
  text-decoration: none;
}
.navbar-nav > a {
  background-color: #c0c0c0;
  color: green;
}

.nav-item > nav-link:hover {
  opacity: 1;
}

.navbar-nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.navbar-brand {
  width: 15vw;
  margin-right: 0px;
  padding: 0 2px;
  color: white;
}
.fa-b {
  color: rgb(255, 137, 2);
}
.badge {
  font-size: 0.7vw;
  border-radius: 50%;
  background-color: rgb(255, 137, 2);
}

.link {
  font-size: 1vw;
  width: 85vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-item:last-child {
  margin-left: auto;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

@media (max-width: 576px) {
  .nav-item {
    padding: 0 1vw;
  }
  .navbar-nav {
    display: flex;
    justify-content: space-between;
  }

  .navbar-brand {
    width: 20vw;
    font-size: 3vw;
    align-items: center;
  }
  .badge {
    font-size: 1vh;
    justify-content: center;
  }

  .link {
    display: flex;
    font-size: 2.2vw;
    justify-content: space-between;
  }
  .nav-item:last-child {
    margin-left: auto;
  }
}

@media ((min-width: 577px) and ( max-width: 991.98px)) {
  .link {
    font-size: 1.8vw;
    display: flex;
  }
  .nav-item {
    padding: 0 2vw;
  }
  .logo {
    margin-top: 2px;
  }
  .badge {
    font-size: 0.8vw;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .navbar {
    width: 100vw;
  }
  .navbar-brand {
    width: 20vw;
  }

  .link {
    width: 80vw;
  }
}

.badge {
  color: white;
}

.currUser img {
  height: 30px;
  width: 30px;
}
