/* show.css */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.container1 {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.blogProfile {
  margin-bottom: 20px;
}

.blogProfile img {
  width: 70px;
  height: 70px;
}

.blog-header {
  margin-bottom: 20px;
}

.blog-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  font-family: "PT Sans", sans-serif;
}

.blog-meta {
  font-size: 14px;
  color: #666;
}

.blog-content {
  margin-bottom: 20px;
  font-family: "PT Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
  color: #0056b3;
}

.buttons {
  display: flex !important;
  justify-content: space-around;
}

.buttons .editBtn {
  width: 100px;
}

.buttons .deleteBtn {
  width: 100px;
}



/* review */
/* .col-8 {
  width: 60%;
}

.offset-3 {
  margin-left: 25%;
}

h4 {
  margin-bottom: 20px;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="range"] {
  width: 100%;
}

textarea {
  width: 100%;
  resize: vertical;
}

.addReview {
  margin-top: 10px;
} */
