<!-- users/profile.ejs.js -->

<% layout("/layouts/boilerplate") %>

<head>
  <title>Active User Profile</title>
<link rel="stylesheet" href="../../public/css/profile.css">
</head>

<body>
  <div class="container3 mt-1 ms-auto">
    <p
      class="editBio btn btn-outline-primary btn-sm"
      style="width: 50px; position: relative; right: 10px; top: -40px"
    >
      Edit
    </p>
    <img src="../../extra/user.jpg" alt="" class="user useractive" />
  
    <h4 class="text-center bioContent"><%= currUser.username %></h4>
    <p class="text-center bioContent"><%= currUser.email %></p>
    <p class="text-center bioContent mx-auto">Change your password</p>
    <p class="text-center bioContent mx-auto">Delete Account</p>
  </div>
  <script src="../../public/js/profile.js"></script>
</body>
